<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
    <div class="container">
        <h4>2018 Subaru WRX limited:</h4>
        <img src="./images/car1.jpg" alt="car1.jpg">
        <img src="./images/car2.jpg" alt="car2.jpg">
    </div>
</body>
</html>